
<div class="jumbotron">
	<h1>Bookstore</h1>
	<p>Lots of great books for you</p>

	<%= link_to "Books", "#", class: "btn btn-primary" %>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>

</div>
